<div cy-testid="books-dialog-form" class="book-form">
  <h2 mat-dialog-title>Book Information</h2>
  <mat-dialog-content class="mat-typography">
    <mat-accordion>
      <form [formGroup]="bookForm">
        @if(isCreateMode) {
        <mat-expansion-panel
          [expanded]="step() === 0"
          (opened)="setStep(0)"
          hideToggle
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Search </mat-panel-title>
            <mat-panel-description>
              Looking for a specific book?
              <mat-icon>search</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <autocomplete
            (bookSelectedEvent)="bookSelectedEvent($event)"
          ></autocomplete>

          <mat-action-row>
            <button
              cy-testid="books-dialog-next-1"
              mat-button
              (click)="nextStep()"
            >
              Next
            </button>
          </mat-action-row>
        </mat-expansion-panel>
        }
        <mat-expansion-panel
          cy-testid="books-main-expansion-panel"
          [expanded]="step() === 1"
          (opened)="setStep(1)"
          hideToggle
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Main data </mat-panel-title>
            <mat-panel-description>
              Type the book information
              <mat-icon>auto_stories</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field>
            <mat-label>Book Title</mat-label>
            <input
              cy-testid="books-input-title"
              formControlName="title"
              cdkFocusInitial
              matInput
            />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Publishing Year</mat-label>
            <input
              cy-testid="books-input-firstPublishYear"
              formControlName="firstPublishYear"
              type="number"
              matInput
            />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Author Name</mat-label>
            <input
              cy-testid="books-input-author"
              formControlName="author"
              matInput
            />
          </mat-form-field>
          <mat-action-row>
            @if(isCreateMode) {
            <button
              cy-testid="books-dialog-previous-1"
              mat-button
              (click)="prevStep()"
            >
              Previous
            </button>
            }
            <button
              cy-testid="books-dialog-next-2"
              mat-button
              (click)="nextStep()"
            >
              Next
            </button>
          </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel
          [expanded]="step() === 2"
          (opened)="setStep(2)"
          hideToggle
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Summary </mat-panel-title>
            <mat-panel-description>
              Describe the book
              <mat-icon>summarize</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field>
            <mat-label>Summary of the book</mat-label>
            <textarea
              cy-testid="books-input-summary"
              matInput
              formControlName="summary"
            ></textarea>
          </mat-form-field>

          <mat-action-row>
            <button
              cy-testid="books-dialog-previous-2"
              mat-button
              (click)="prevStep()"
            >
              Previous
            </button>
          </mat-action-row>
        </mat-expansion-panel>
      </form>
    </mat-accordion>
  </mat-dialog-content>
  <mat-dialog-actions>
    @if(deleting()) {
    <span>Are you sure you want to delete?</span>
    <button mat-button (click)="deletingBook(false)">Cancel</button>
    <button
      cy-testid="books-dialog-delete-confirm"
      mat-flat-button
      (click)="deleteBook()"
    >
      Delete
    </button>
    } @else { @if(!isCreateMode) {
    <span>
      <button
        cy-testid="books-dialog-delete"
        mat-button
        (click)="deletingBook(true)"
      >
        Delete
      </button>
    </span>
    }

    <button mat-button mat-dialog-close>Cancel</button>
    <button
      cy-testid="books-dialog-submit"
      mat-flat-button
      (click)="onSubmit()"
      [disabled]="bookForm.invalid"
    >
      Submit
    </button>
    }
  </mat-dialog-actions>
</div>
