.content {
    position: sticky;
    top: 0;

    &__logo {
        padding-left: 1rem;
        color: var(--mat-sys-primary);
    }

    &__navigation {
        gap: 1rem;
        display: flex;
        justify-content: center;
        flex: 1 1 auto;
    }

    &__theme {
        padding-right: 1rem;
        cursor: pointer;
    }
}