@use "@angular/material" as mat;

html,
body {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

body {
    margin: 0;
    background-color: var(--mat-sys-surface-container);
}

h1 {
    margin: 30px 0;
}


html {
    --gradient-color-1: var(--mat-sys-surface-variant);
    --gradient-color-2: var(--mat-sys-surface-variant);

    --gradient-color-3: #ff7e5f;
    --gradient-color-4: #feb47b;

    --box-shadow-dim: rgba(0, 0, 0, 0.1);
    color-scheme: light;
    @include mat.theme((color: mat.$red-palette,
            typography: Roboto,
            density: 0));
}

html.dark-mode {
    --box-shadow-dim: rgba(255, 255, 255, 0.1);
    color-scheme: dark;
    @include mat.theme((color: mat.$red-palette,
            typography: Roboto,
            density: 0));

}

:root {
    @include mat.toolbar-overrides((container-background-color: var(--mat-sys-surface-variant),
        ));
}

:root {
    @include mat.dialog-overrides((container-color: var(--mat-sys-surface-variant),
        ));
}

:root {
    @include mat.expansion-overrides((container-background-color: var(--mat-sys-surface-container),
        ));
}

.light {
    --mat-sys-background: light-dark(#fef8fc, #151316);
    --mat-sys-error: light-dark(#ba1a1a, #ffb4ab);
    --mat-sys-error-container: light-dark(#ffdad6, #93000a);
    --mat-sys-inverse-on-surface: light-dark(#f5eff4, #323033);
    --mat-sys-inverse-primary: light-dark(#d5baff, #7d00fa);
    --mat-sys-inverse-surface: light-dark(#323033, #e6e1e6);
    --mat-sys-on-background: light-dark(#1d1b1e, #e6e1e6);
    --mat-sys-on-error: light-dark(#ffffff, #690005);
    --mat-sys-on-error-container: light-dark(#93000a, #ffdad6);
    --mat-sys-on-primary: light-dark(#ffffff, #42008a);
    --mat-sys-on-primary-container: light-dark(#5f00c0, #ecdcff);
    --mat-sys-on-primary-fixed: light-dark(#270057, #270057);
    --mat-sys-on-primary-fixed-variant: light-dark(#5f00c0, #5f00c0);
    --mat-sys-on-secondary: light-dark(#ffffff, #352d40);
    --mat-sys-on-secondary-container: light-dark(#4b4357, #eadef7);
    --mat-sys-on-secondary-fixed: light-dark(#1f182a, #1f182a);
    --mat-sys-on-secondary-fixed-variant: light-dark(#4b4357, #4b4357);
    --mat-sys-on-surface: light-dark(#1d1b1e, #e6e1e6);
    --mat-sys-on-surface-variant: light-dark(#49454e, #e8e0eb);
    --mat-sys-on-tertiary: light-dark(#ffffff, #42008a);
    --mat-sys-on-tertiary-container: light-dark(#5f00c0, #ecdcff);
    --mat-sys-on-tertiary-fixed: light-dark(#270057, #270057);
    --mat-sys-on-tertiary-fixed-variant: light-dark(#5f00c0, #5f00c0);
    --mat-sys-outline: light-dark(#7b757f, #958e99);
    --mat-sys-outline-variant: light-dark(#cbc4cf, #49454e);
    --mat-sys-primary: light-dark(#7d00fa, #d5baff);
    --mat-sys-primary-container: light-dark(#ecdcff, #5f00c0);
    --mat-sys-primary-fixed: light-dark(#ecdcff, #ecdcff);
    --mat-sys-primary-fixed-dim: light-dark(#d5baff, #d5baff);
    --mat-sys-scrim: light-dark(#000000, #000000);
    --mat-sys-secondary: light-dark(#645b70, #cec2db);
    --mat-sys-secondary-container: light-dark(#eadef7, #4b4357);
    --mat-sys-secondary-fixed: light-dark(#eadef7, #eadef7);
    --mat-sys-secondary-fixed-dim: light-dark(#cec2db, #cec2db);
    --mat-sys-shadow: light-dark(#000000, #000000);
    --mat-sys-surface: light-dark(#fef8fc, #151316);
    --mat-sys-surface-bright: light-dark(#fef8fc, #3b383c);
    --mat-sys-surface-container: light-dark(#f2ecf1, #211f22);
    --mat-sys-surface-container-high: light-dark(#ede6eb, #2b292d);
    --mat-sys-surface-container-highest: light-dark(#e6e1e6, #363437);
    --mat-sys-surface-container-low: light-dark(#f8f2f6, #1d1b1e);
    --mat-sys-surface-container-lowest: light-dark(#ffffff, #0f0d11);
    --mat-sys-surface-dim: light-dark(#ded8dd, #151316);
    --mat-sys-surface-tint: light-dark(#7d00fa, #d5baff);
    --mat-sys-surface-variant: light-dark(#e8e0eb, #49454e);
    --mat-sys-tertiary: light-dark(#7d00fa, #d5baff);
    --mat-sys-tertiary-container: light-dark(#ecdcff, #5f00c0);
    --mat-sys-tertiary-fixed: light-dark(#ecdcff, #ecdcff);
    --mat-sys-tertiary-fixed-dim: light-dark(#d5baff, #d5baff);
    --mat-sys-neutral-variant20: #332f37;
    --mat-sys-neutral10: #1d1b1e;
}