@use "@angular/material" as mat;

@import 'styles/variables';

html,
body {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

body {
    margin: 0;
    padding: min(50px, 7%);
    background-color: var(--sys-primary-container);
}

h1 {
    margin: 30px 0;
}


html {
    color-scheme: light;
    @include mat.theme((color: mat.$violet-palette,
            typography: Roboto,
            density: 0));
}

html.dark-mode {
    color-scheme: dark;
    @include mat.theme((color: mat.$violet-palette,
            typography: Roboto,
            density: 0));

}

.htmlsdadas {
    --sys-primary: rgb(76 102 43);
    --sys-surface-tint: rgb(76 102 43);
    --sys-on-primary: rgb(255 255 255);
    --sys-primary-container: rgb(205 237 163);
    --sys-on-primary-container: rgb(53 78 22);
    --sys-secondary: rgb(88 98 73);
    --sys-on-secondary: rgb(255 255 255);
    --sys-secondary-container: rgb(220 231 200);
    --sys-on-secondary-container: rgb(64 74 51);
    --sys-tertiary: rgb(56 102 99);
    --sys-on-tertiary: rgb(255 255 255);
    --sys-tertiary-container: rgb(188 236 231);
    --sys-on-tertiary-container: rgb(31 78 75);
    --sys-error: rgb(186 26 26);
    --sys-on-error: rgb(255 255 255);
    --sys-error-container: rgb(255 218 214);
    --sys-on-error-container: rgb(147 0 10);
    --sys-background: rgb(249 250 239);
    --sys-on-background: rgb(26 28 22);
    --sys-surface: rgb(249 250 239);
    --sys-on-surface: rgb(26 28 22);
    --sys-surface-variant: rgb(225 228 213);
    --sys-on-surface-variant: rgb(68 72 61);
    --sys-outline: rgb(117 121 108);
    --sys-outline-variant: rgb(197 200 186);
    --sys-shadow: rgb(0 0 0);
    --sys-scrim: rgb(0 0 0);
    --sys-inverse-surface: rgb(47 49 42);
    --sys-inverse-on-surface: rgb(241 242 230);
    --sys-inverse-primary: rgb(177 209 138);
    --sys-primary-fixed: rgb(205 237 163);
    --sys-on-primary-fixed: rgb(16 32 0);
    --sys-primary-fixed-dim: rgb(177 209 138);
    --sys-on-primary-fixed-variant: rgb(53 78 22);
    --sys-secondary-fixed: rgb(220 231 200);
    --sys-on-secondary-fixed: rgb(21 30 11);
    --sys-secondary-fixed-dim: rgb(191 203 173);
    --sys-on-secondary-fixed-variant: rgb(64 74 51);
    --sys-tertiary-fixed: rgb(188 236 231);
    --sys-on-tertiary-fixed: rgb(0 32 30);
    --sys-tertiary-fixed-dim: rgb(160 208 203);
    --sys-on-tertiary-fixed-variant: rgb(31 78 75);
    --sys-surface-dim: rgb(218 219 208);
    --sys-surface-bright: rgb(249 250 239);
    --sys-surface-container-lowest: rgb(255 255 255);
    --sys-surface-container-low: rgb(243 244 233);
    --sys-surface-container: rgb(238 239 227);
    --sys-surface-container-high: rgb(232 233 222);
    --sys-surface-container-highest: rgb(226 227 216);
}


.light {
    --sys-primary: rgb(177 209 138);
    --sys-surface-tint: rgb(177 209 138);
    --sys-on-primary: rgb(31 55 1);
    --sys-primary-container: rgb(53 78 22);
    --sys-on-primary-container: rgb(205 237 163);
    --sys-secondary: rgb(191 203 173);
    --sys-on-secondary: rgb(42 51 30);
    --sys-secondary-container: rgb(64 74 51);
    --sys-on-secondary-container: rgb(220 231 200);
    --sys-tertiary: rgb(160 208 203);
    --sys-on-tertiary: rgb(0 55 53);
    --sys-tertiary-container: rgb(31 78 75);
    --sys-on-tertiary-container: rgb(188 236 231);
    --sys-error: rgb(255 180 171);
    --sys-on-error: rgb(105 0 5);
    --sys-error-container: rgb(147 0 10);
    --sys-on-error-container: rgb(255 218 214);
    --sys-background: rgb(18 20 14);
    --sys-on-background: rgb(226 227 216);
    --sys-surface: rgb(18 20 14);
    --sys-on-surface: rgb(226 227 216);
    --sys-surface-variant: rgb(68 72 61);
    --sys-on-surface-variant: rgb(197 200 186);
    --sys-outline: rgb(143 146 133);
    --sys-outline-variant: rgb(68 72 61);
    --sys-shadow: rgb(0 0 0);
    --sys-scrim: rgb(0 0 0);
    --sys-inverse-surface: rgb(226 227 216);
    --sys-inverse-on-surface: rgb(47 49 42);
    --sys-inverse-primary: rgb(76 102 43);
    --sys-primary-fixed: rgb(205 237 163);
    --sys-on-primary-fixed: rgb(16 32 0);
    --sys-primary-fixed-dim: rgb(177 209 138);
    --sys-on-primary-fixed-variant: rgb(53 78 22);
    --sys-secondary-fixed: rgb(220 231 200);
    --sys-on-secondary-fixed: rgb(21 30 11);
    --sys-secondary-fixed-dim: rgb(191 203 173);
    --sys-on-secondary-fixed-variant: rgb(64 74 51);
    --sys-tertiary-fixed: rgb(188 236 231);
    --sys-on-tertiary-fixed: rgb(0 32 30);
    --sys-tertiary-fixed-dim: rgb(160 208 203);
    --sys-on-tertiary-fixed-variant: rgb(31 78 75);
    --sys-surface-dim: rgb(18 20 14);
    --sys-surface-bright: rgb(56 58 50);
    --sys-surface-container-lowest: rgb(12 15 9);
    --sys-surface-container-low: rgb(26 28 22);
    --sys-surface-container: rgb(30 32 26);
    --sys-surface-container-high: rgb(40 43 36);
    --sys-surface-container-highest: rgb(51 54 46);
}