@use "@angular/material" as mat;

html,
body {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

body {
    margin: 0;
    background-color: var(--mat-sys-surface-container);
}

h1 {
    margin: 30px 0;
}


html {
    --gradient-color-1: var(--mat-sys-surface-variant);
    --gradient-color-2: var(--mat-sys-surface-variant);

    --gradient-color-3: #ff7e5f;
    --gradient-color-4: #feb47b;

    --box-shadow-dim: rgba(0, 0, 0, 0.1);
    color-scheme: light;
    @include mat.theme((color: mat.$red-palette,
            typography: Roboto,
            density: -2));
}

// Themes used to change the color scheme of the app
html.dark-mode {
    --box-shadow-dim: rgba(255, 255, 255, 0.1);
    color-scheme: dark;
}

html.red-palette {
    @include mat.theme((color: mat.$red-palette));
}

html.green-palette {
    @include mat.theme((color: mat.$green-palette));
}

html.blue-palette {
    @include mat.theme((color: mat.$blue-palette));
}

html.yellow-palette {
    @include mat.theme((color: mat.$yellow-palette));
}

html.cyan-palette {
    @include mat.theme((color: mat.$cyan-palette));
}

html.magenta-palette {
    @include mat.theme((color: mat.$magenta-palette));
}

html.orange-palette {
    @include mat.theme((color: mat.$orange-palette));
}

html.chartreuse-palette {
    @include mat.theme((color: mat.$chartreuse-palette));
}

html.spring-green-palette {
    @include mat.theme((color: mat.$spring-green-palette));
}

html.azure-palette {
    @include mat.theme((color: mat.$azure-palette));
}

html.violet-palette {
    @include mat.theme((color: mat.$violet-palette));
}

html.rose-palette {
    @include mat.theme((color: mat.$rose-palette));
}

// Overrides for Angular Material components
:root {
    @include mat.toolbar-overrides((container-background-color: var(--mat-sys-surface-variant),
        ));
}

:root {
    @include mat.dialog-overrides((container-color: var(--mat-sys-surface-variant),
        ));
}

:root {
    @include mat.expansion-overrides((container-background-color: var(--mat-sys-surface-container),
        ));
}